<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--配置扫描器-->
    <context:component-scan base-package="com.sun.service"/>
    <!--a)	配置连接池DataSource-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="password" value="root"/>
        <property name="user" value="root"/>
        <property name="jdbcUrl" value="jdbc:mysql:///travel?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
    </bean>
    <!--b)	配置mybatis的连接工厂 SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--c)	配置MapperScannerConfigure，生成dao的代理类-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--要知道接口所在的包路径-->
        <property name="basePackage" value="com.sun.mapper"/>
        <!--还要提供sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!--d)	配置事务管理器DataSourceTransactionManager-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService" class="com.sun.service.RouteServiceImpl">
        <property name="routeMapper" ref="mapperScannerConfigurer"></property>
    </bean>
    <!--e)	开启注解事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>